<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TPN</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./images/tpn.jpg" rel="icon">
  <link href="./images/tpn.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./FlexStart/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./FlexStart/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./FlexStart/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./FlexStart/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./FlexStart/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="./FlexStart/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./FlexStart/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="home.html" class="logo d-flex align-items-center">
        <!-- <img src="./FlexStart/assets/img/logo.png" alt=""> -->
        <img src="./images/tpn.jpg" alt="">
        <h1 data-aos="fade-up" style="color: #0771d5;"></h1>

      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#values">Services</a></li>
          <li><a class="nav-link scrollto" href="#features">Income</a></li>
          <li><a class="nav-link scrollto" href="#recent-blog-posts">News</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="login">Employee Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up"> TPN Development Service Co.,Ltd.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">All HR services end up at TPN</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                style="background-color: #2c8be4;">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="./FlexStart/assets/img/hero-img.png" style="border-radius: 70px;" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content" style="border-radius: 0px;">
              <h3 style="color: #2c8be4;">Who We Are</h3>
              <h2>บริษัทรับให้คำปรึกษาและบริการรับเหมาแรงงานให้โรงงานอุตสาหกรรมต่างๆ </h2>
              <p>
                เรามีประสบการ์ณมากกว่า 10 ปี
                จัดหาคนทำงานเพื่อทำงานให้เหมาะสมและตรงตามความต้องการของโรงงานอุตสาหกรรมมากที่สุด
                ตั้งแต่พนักงานฝ่ายผลิตจนถึงพนักงานประจำ TPN เป็นที่รู้จักและมีฐานลูกค้าอย่างแพร่หลายในจังหวัดนครราชสีมา
              </p>
              <div class="text-center text-lg-start">
                <a href="#"
                  class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                  style="background-color: #2c8be4;">
                  <span>สนใจสมัคร</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="./images/p10.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2 style="color: #2c8be4;">Our services</h2>
          <p>บริการของเรา</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="./FlexStart/assets/img/values-1.png" class="img-fluid" alt="">
              <h3>
                บริการรับจ้างเหมาพนักงาน
                ในภาคอุตสาหกรรม</h3>
              <p>Manufacturing Manpower Service</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="./FlexStart/assets/img/values-2.png" class="img-fluid" alt="">
              <h3>การบริการรถรับ-ส่ง</h3>
              <p>Car Driver</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="./FlexStart/assets/img/values-3.png" class="img-fluid" alt="">
              <h3>บริการ HR แบบครบวงจร</h3>
              <p>All HR Services</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="600" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Happy Employee</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Factory</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2 style="color: #2c8be4;">Income & Benefits</h2>
          <p>รายได้&สวัสดิการ</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="./FlexStart/assets/img/features.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>ค่าแรง 325 บาท/วัน</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>ค่าอาหาร & กะดึก 15-20 บาท/วัน</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>เบี้ยขยัน 300-500 บาท/เดือน</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>โอที ทุกวัน 2.5-4.5 ช.ม./วัน</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>เปิดบัญชีธนาคาร & รถรับส่ง ฟรี</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>ประกันชีวิต 150,000 บาท</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->



        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
          <div class="container" data-aos="fade-up">
            <header class="section-header">
              <h2 style="color: #2c8be4;">Our Address</h2>
              <p>จุดรับสมัคร</p>
            </header>
            <div class="row">
              <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                <img src="./FlexStart/assets/img/features-3.png" class="img-fluid p-4" alt="">
              </div>

              <div class="col-xl-8 d-flex content">
                <div class="row align-self-center gy-4">

                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="ri-line-chart-line"></i>
                    <div>
                      <h4>ออฟฟิต TPN</h4>
                      <p>ตรงข้ามทางเข้า เขตอุตสาหกรรมสุระนารี</p>
                    </div>
                  </div>

                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="ri-stack-line"></i>
                    <div>
                      <h4>จุดรับสมัคร อ่างห้วยยาง</h4>
                      <p>ทางเข้าโรงงานสายไฟ SEWT </p>
                    </div>
                  </div>

                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="ri-brush-4-line"></i>
                    <div>
                      <h4>จุดรับสมัคร ณ. ป้อมตำรวจ ขามทะเลสอ</h4>
                      <p>ศาลาหน้าป้อมตำรวจสีจาน ตรงข้ามธนาคาร ธกส
                        **สมัครได้ทุกวันพฤหัสบดี เวลา 09:30-11:00 น. เท่านั้น**
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Feature Icons -->

        </div>

    </section> <!-- End Features Section -->


    <!-- ======= Clients Section ======= -->
    <!-- End Clients Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>news</h2>
          <p>ข่าวประชาสัมพันธ์</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="./images/n2.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Tue, September 15</span>
              <h3 class="post-title">รับสมัครพนักงานไปทำงานที่กาญจนบุรี</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span></span><i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="./images/n3.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Mon, July 11</span>
              <h3 class="post-title">บริษัทฮิตาชิเปิดรับสมัครพนักงานฝ่ายบัญชี 2 อัตรา</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span></span><i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="./images/n1.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Fri, August 28</span>
              <h3 class="post-title">โรงงานสายไฟเปิดรับสมัครพนักงานจำนวนมาก</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span></span><i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>

    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2 style="color: #2c8be4;">Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>จังหวัด นครราชสีมา<br> </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>086-2771599<br>089-8467599</p>

                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@tpn.com<br>contact@tpn.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Saturday<br>8:00AM - 05:00PM</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <!-- <form action="forms/contact.php" method="post" class="php-email-form"> -->
            <div class="row gy-4">
              <div>
                <img class="img-fluid" src="./images/p9.jpg" alt="" style="width: 550px;">
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <!-- <img src="./images/tpn.jpg" alt=""> -->
              <span>
                <p>tpn social media</p>
              </span>
            </a>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/hrtpn.development" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="line"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="home.html">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Employee Login</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              นครราชสีมา</p><br>
            <!-- New York, NY 535022<br>
              United States <br><br> -->
            <strong>Phone:</strong> 086-2771599<br>089-8467599
            <strong>Email:</strong> info@tpn.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>TPN</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./FlexStart/assets/vendor/purecounter/purecounter.js"></script>
  <script src="./FlexStart/assets/vendor/aos/aos.js"></script>
  <script src="./FlexStart/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./FlexStart/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./FlexStart/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./FlexStart/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./FlexStart/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="./FlexStart/assets/js/main.js"></script>

</body>

</html>