<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sign up </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="./images/tpn.jpg" rel="icon">
    <link href="./images/tpn.jpg" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.min.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</head>
<body>
    <style>
        @media screen and (max-width: 768px) {
            #icon-image {
                margin-left: -30px;
            }

        }

        @media screen and (max-width: 850px) {
            .container {
                width: 300px;
                padding-right: 75px;
            }
        }
    </style>
    <main>
        <div>
            <h3>Sign Up</h3>
            <input type="text" id="nameTpn" class="form-control mb-3">
            <input type="text" id="emailTpn" class="form-control mb-3">
            <input type="text" id="userTpn" class="form-control mb-3">
            <input type="text" id="passTpn" class="form-control mb-3">
            <button type="text" id="sub_btn" class="btn btn-outline-primary mb-3">Sign Up</button>
        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.4/firebase-app.js";
        const firebaseConfig = {
            apiKey: "AIzaSyD_FIwnKPG20NO236nymirbYqUoT5imt80",
            authDomain: "aa-project-fd866.firebaseapp.com",
            databaseURL: "https://aa-project-fd866-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "aa-project-fd866",
            storageBucket: "aa-project-fd866.appspot.com",
            messagingSenderId: "21571323809",
            appId: "1:21571323809:web:5522690d68e5e69800ede0"
        };
        const app = initializeApp(firebaseConfig);

        import  { getDatabase, ref, set, child, get }
            from "https://www.gstatic.com/firebasejs/9.8.4/firebase-database.js";
        
            const db = getDatabase();

        const name = document.getElementById('nameTpn');
        const email = document.getElementById('emailTpn');
        const username = document.getElementById('userTpn');
        const pass = document.getElementById('passTpn');
        const submit = document.getElementById('sub_btn');

        function Validation(){
            let nameregex = /^[a-zA-Z\s]+$/;
            let emailregex = /^[a-zA-Z0-9]+@(gmail|yahoo|outlook)\.com$/;
            let userregex = /^[a-zA-Z0-9]{5,}$/;
            
            if(!nameregex.test(name.value)){
                alert("the name should only contain alphabets!");
                return false;
            }
            if(!emailregex.test(email.value)){
                alert("enter a valid email");
                return false;
            }
            if(!userregex.test(username.value)){
                alert("username can only be alphabets!");
                return false;
            }
            return true;
        }
        function RegisterUser(){
            if(!Validation()){
                return;
            };
            const dbRef = ref(db);

            get(child(dbRef, "UsersList/"+ username.value)).then((snapshot)=>{
                if(snapshot.exists()){
                    alert("Account Already Exist!");
                }
                else{
                    set(ref(db, "UsersList/"+ username.value),
                    {
                        email: email.value,
                        username: username.value,
                        password: pass.value
                    })
                    .then(()=>{
                        alert("user added successfully");
                    })
                    .catch((error)=>{
                        alert("error"+ error);
                    })   
                }
            });
        }
        submit.addEventListener('click', RegisterUser);
    </script>
</body>

</html>